---
layout: page
title: "常见问题"
ref: faq-page
lang: zh
---
<div class="search-op my-2">
  <div class="search-op-header">
    <input type="text" placeholder="搜索..." class="search-op-input form-control" autocapitalize="off" autocomplete="off" spellcheck="false" autocorrect="off">
    <button type="button" class="close clear d-none" aria-label="Clear">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <ul class="search-op-list list-group list-group-flush my-4">
    <li class="list-group-item px-0">
      <h2 id="add-to-calendars">我怎样将论坛的议程添加至日历应用？</h2>
      <p> 您可以在日历应用中订阅我们的日程（即将日程添加至您的日历应用）。我们的日历源如下：</p>
      {% include ical-box.html load_js="true" %}
      <p>由于不同设备的操作系统各异，您可能需要按照不同的步骤操作。</p>
      <ul>
        <li>在<strong>Mac</strong>上使用，您可以参阅<a href="https://support.apple.com/zh-cn/guide/calendar/icl1022/mac">此帮助信息</a>。</li>
        <li>在<strong>iOS设备</strong>上使用，您可以参阅<a href="https://support.apple.com/zh-cn/guide/iphone/iph3d1110d4/ios#iph30203de42">此帮助信息</a>。</li>
        <li>在<strong>Android</strong>设备上，由于并非所有系统都设置有默认的日历应用，您可以利用<a href="https://f-droid.org/zh_Hans/packages/at.bitfire.icsdroid/">此应用</a>订阅我们的在线日历。</li>
        <li>在<strong>Windows</strong>设备上，您可以<a href="https://support.office.com/zh-cn/article/在-outlook-com-中导入或订阅日历-cff1429c-5af6-41ec-a5b4-74f2c278e98c?omkt=zh-CN&ui=zh-CN&rs=zh-CN&ad=CN">在microsoft账户中订阅我们的在线日历</a>，并利用Office Outlook或Windows Calendar等应用同步至您的设备。</li>
      </ul>
    </li>

    <li class="list-group-item px-0">
      <h2 id="how-do-i-use-the-website-on-my-mobile-device">我怎样在移动设备上使用论坛网站？</h2>
      <p>我们的整个网站都针对移动设备进行了优化，因此您可以随时在您的网络浏览器中访问我们的网站。为了确保最佳使用效果，我们建议您将浏览器应用更新至最新版本。</p>
      <p>另外，您还可以在您的移动设备上像使用原生应用一样使用我们的网站，您可以参阅我们的<a href="/zh/pwa">PWA页面</a>了解如何操作。</p>
    </li>
    
    <li class="list-group-item px-0">
      <h2 id="why-are-some-links-marked-with-a-sign">为什么有些链接带有<sup class="fas fa-external-link-alt ml-1"></sup>标示？</h2>
      <p>带有<sup class="fas fa-external-link-alt ml-1"></sup>标示的链接指向第三方提供的内容，我们对这些内容无法进行监督或控制，因此希望通过此标示进行提示，如有必要，请在使用这些链接时额外注意。</p>
    </li>
    
    
    <li class="list-group-item px-0">
      <h2 id="use-rss">我怎样使用RSS源？</h2>
      <p><a href="http://en.wikipedia.org/wiki/RSS">RSS</a>（Really Simple Syndication）是一种在您最喜欢的设备上阅读新闻及动态资讯的便捷方式。我们博客文章的RSS源如下：</p>
      {% include rss-box.html %}
      <p>根据不同设备的操作系统，有许多RSS阅读器可以选择使用。</p>
      <ul>
        <li>在移动或桌面设备上，您可以在应用商店中搜索“RSS”，然后选择您喜欢的免费或付费应用。</li>
        <li>如果您喜欢使用在线的阅读应用，例如<a href="https://feedly.com">Feedly</a>，您只需要将我们的RSS源添加至您的订阅列表，即可以在其中阅读我们所有的博文。</li>
      </ul>
    </li>
  </ul>

</div>

