---
layout: event
title: "Climate change and adaptation"
ref: session-climate
lang: en
parent: programmes-page
start: 2020-11-18 09:00
end: 2020-11-18 17:00
place: "Venue 1"
---
<div class="jumbotron bg-transparent">
  <h1 class="display-4">Coming soon!</h1>
  <p class="lead">We are still working on this part of the website. It won't take long.</p>
  <hr class="my-4">
  <p>Please come back later.</p>
  <p>{{ page.start | date: "%Y%m%d%H%M%S" }} to {{ page.end | date: "%Y%m%d%H%M%S" }}</p>
</div>
