---
layout: page
title: "Abstract submission"
lang: en
ref: abstract-submission
parent: take-part-page
---
<!-- Modal -->
<div class="modal fade" id="submission-reminder" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="submission-reminder" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Attention</h5>
      </div>
      <div class="modal-body">
        <p>By proceeding, you acknowledge that you have fully understood and agree to our <a href="/privacy"><b>privacy policies</b></a> and <a href="/take-part/#abstract"><b>guidelines for abstract submission</b></a>.</p>
        <p>Please complete this form in <b class="text-info">English</b>.</p>
        <p>Please don't use the "back" or "forward" buttons on this page as your work may be lost.</p>
      </div>
      <div class="modal-footer">
        <div class="btn-group w-100" role="group" aria-label="dialogue buttons">
          <a href="/" class="btn btn-secondary">I have another thought</a>
          <button type="button" class="btn btn-primary" data-dismiss="modal">I would like to proceed</button>
        </div>
      </div>
    </div>
  </div>
</div>

<iframe id="submission-form" class="embed-responsive-item w-100 border-0" scrolling="no" src="https://jrc.nhri.cn/app/mf/embed.php?id=13008" title="ESTDS2020 Abstract Submission"><a href="https://jrc.nhri.cn/app/mf/view.php?id=13008" title="ESTDS2020 Abstract Submission">ESTDS2020 Abstract Submission</a></iframe>
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/iframe-resizer/iframeResizer.min.js"></script>
<script>
  $("#submission-reminder").modal('show');
  iFrameResize({ log: true }, '#submission-form');
</script>
