---
layout: page
title: 参加论坛
lang: zh
ref: take-part-page
---
<div class="m-1">
  <ul class="nav nav-pills nav-justified bg-light rounded mb-4" id="take-part-tab" role="tablist">
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate active" id="abstract-tab" data-toggle="tab" href="#abstract" role="tab" aria-controls="abstract" aria-selected="true"><i class="fas fa-file-alt fa-fw mr-1"></i>摘要</a>
    </li>
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate disabled" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false"><i class="fas fa-ticket-alt fa-fw mr-1"></i>注册</a>
    </li>
    <li class="nav-item text-truncate">
      <a class="nav-link text-truncate disabled" id="presenter-tab" data-toggle="tab" href="#presenter" role="tab" aria-controls="presenter" aria-selected="false"><i class="fas fa-microphone-alt mr-1"></i>报告</a>
    </li>
    <li class="nav-item text-truncate d-none">
      <a class="nav-link text-truncate disabled" id="exhibitor-tab" data-toggle="tab" href="#exhibitor" role="tab" aria-controls="exhibitor" aria-selected="false"><i class="fas fa-store fa-fw mr-1"></i>展览</a>
    </li>
  </ul>
  <div class="tab-content" id="take-part">
    <div class="tab-pane fade show active" id="abstract" role="tabpanel" aria-labelledby="abstract-tab">
      <h2 id="guidelines-for-abstract-submission">摘要提交指南</h2>
      <p class="alert alert-warning"><em>请注意，如您的摘要无法满足以下指南要求，我们可能会移除您的稿件并且不另行通知。</em></p>
      <ol style="list-style-type: decimal">
        <li>所有稿件应<strong>以英文书写</strong>，长度<strong>不少于500词</strong>。</li>
        <li>所有稿件应通过论坛网站的在线提交页面提交。如果您遇到了技术困难，可以与秘书处联系，联系方式请见<a href="/about">此处</a>。</li>
        <li>提交稿件时必须指定一个有效的电子邮件地址，所有关于投稿的通讯联络将发送至该邮箱。</li>
        <li>稿件提交以后系统将立即发送确认邮件至指定的邮箱，请检查该邮件是否被您的垃圾邮件过滤器拦截。如您未收到该邮件，请与秘书处联系，联系方式请见<a href="/about">此处</a>。</li>
        <li>摘要提交系统于<strong>2020年7月15日</strong>关闭以后，稿件将无法再进行任何修改变动。</li>
        <li>作者在提交稿件时需指定稿件的报告方式，论坛将在可能的情况下尽可能满足指定的报告方式，如无法满足，论坛将与作者提前联系协调。</li>
        <li>稿件提交以后将立即在学术委员会的监督下由论坛指定的专家进行审核，该过程时长不定，但所有审核结果，不管录用与否，将于<strong>2020年8月30日</strong>前通过电子邮件通知至指定的邮箱。</li>
        <li>对于同一作者或多名作者投稿的数量不做限制，但每名作者最多只能在论坛报告两篇稿件。另外至少一名作者需在论坛开幕前注册参会，并以约定的方式在论坛报告。</li>
        <li>作者对稿件承担独立和完全的责任，包括但不仅限于稿件的原创性及准确性。已录用稿件将完全按照所提交的内容进行转制呈现，包括原文可能存在的错误。</li>
        <li>已录用稿件将按照<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>许可以电子或书面形式公开。</li>
      </ol>
      <p class="text-center my-4">
        <a href="abstract" class="btn btn-success w-50">继续</a>
      </p>
    </div>
    <div class="tab-pane py-3 fade" id="register" role="tabpanel" aria-labelledby="register-tab">Regiter tab</div>
    <div class="tab-pane py-3 fade" id="presenter" role="tabpanel" aria-labelledby="presenter-tab">Presenter tab</div>
    <div class="tab-pane py-3 fade" id="exhibitor" role="tabpanel" aria-labelledby="exhibitor-tab">Exibition tab</div>
  </div>
</div>
