---
layout: page
title: 议程
ref: programmes-page
lang: zh
last_update: 2020-03-13
---
<p class="lead">我们目前的计划涵盖{{ site.cfrc_start | date: '%Y年%m月%d日' }}至{{ site.cfrc_end | date: '%Y年%m月%d日' }}4天的日程。</p>
<div class="card-group mb-3">
  <div class="card text-center">
    <div class="card-header">周一</div>
    <div class="card-body">
      <h5 class="card-title">十一月</h5>
      <h4 class="card-title display-3">16</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">注册报到</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">周二</div>
    <div class="card-body">
      <h5 class="card-title">十一月</h5>
      <h4 class="card-title display-3">17</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">全体会议</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">周三</div>
    <div class="card-body">
      <h5 class="card-title">十一月</h5>
      <h4 class="card-title display-3">18</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">平行分会</p>
    </div>
  </div>
  <div class="card text-center">
    <div class="card-header">周四</div>
    <div class="card-body text-center">
      <h5 class="card-title">十一月</h5>
      <h4 class="card-title display-3">19</h4>
      <h5 class="card-title">2020</h5>
      <hr>
      <p class="card-text">技术参观</p>
    </div>
  </div>
</div>
<p>更多细节还正在确定中，您可以<a href="#" data-toggle="modal" data-target="#ical-feed-modal">订阅我们的在线日历</a>，在您喜欢的日历应用中查看我们的最新安排。</p>

<!-- iCal Modal -->
<div class="modal fade" id="ical-feed-modal" tabindex="-1" role="dialog" aria-labelledby="iCalModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close ml-4" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="mb-3">您可以使用以下日历源：</p>
        {% include ical-box.html load_js="true" %}
      </div>
    </div>
  </div>
</div>

